<%- include('../partials/_header.ejs') %>
    <title>Edit <%= book.title %></title>
    <link rel="stylesheet" href="/stylesheets/edit.css">
  </head>
  <body>
   
    <%- include('../partials/_navbar.ejs') %>

    <h1 class="edit">Edit <%= book.title %></h1>
 
    <form action="/books/<%= book._id %>?_method=PUT" method="POST">
      <label for="title">Title</label>
      <input type="text" name="title" id="title" value="<%= book.title %>" />
      <label for="author">Author</label>
      <input type="text" name="author" id="author" value="<%= book.author %>" />
      <label for="category">Category</label>
      <input
        type="text"
        name="category"
        id="category"
        value="<%= book.category %>"
      />
      <label for="price">Price</label>
      <input type="number" name="price" id="price" value="<%= book.price %>"  maxlength="19" minlength="1"/>
      <label for="description">Description</label>
      <textarea name="description" id="description" cols="30" rows="10"><%= book.description %></textarea
      >
      <button type="submit">Save</button>
    </form>
  </body>
  <footer>
    <%- include('../partials/_footer.ejs') %>
  </footer>
</html>
