<%- include('../partials/_header.ejs') %>
    <title>all Books</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>

  
    <h1>List of all Books</h1>
    <a href="/books/new">Add new Book</a>

    <img src="planning/book.gif" alt="" class="bookImg">

    <div class="card-container">
      <ul>
      <% books.forEach((book)=> { %>
        <li>
      <a href="/books/<%= book._id %>">
        <h4><%= book.title %> <span> by <%= book.author %></span></h4>
      </a>
      </li>
      <% }) %>
    </ul>
    </div>
    <div>

    </div>
  </body>
  <footer>
    <%- include('../partials/_footer.ejs') %>
  </footer>
</html>
