<%- include('../partials/_header.ejs') %>
    <title>all Books</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
 
    <h1 class="list">List of all Books </h1>
    <a href="/books/new" class="addNew">Add new Book</a>
    <div class="card-container">
      <ul>
      <% books.forEach((book)=> { %>
        <li>
      <a href="/books/<%= book._id %>">
        <h4><%= book.title %> <span> by <%= book.author %></span></h4>
      </a>
      </li>
      <% }) %>
    </ul>
    </div>
    <div>
    </div>
  </body>
  <footer>
    <%- include('../partials/_footer.ejs') %>
  </footer>
</html>
